/* NOTE: Rename this file to conversation.css */

h3 {
	text-align: center;
}

.main {
	width: 50%;
	background-color: #e9ecef;
	border: 1px solid black;
}

.messages {
	margin: 20% 0;
	background-color: white;
	border: 1px solid black;
	padding: 5% 5%;
	margin: 5% 5%;
	min-height: 300px
}

.data-input {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 0px 5% 5% 5%;
	margin: 5% 5%;
	border: 1px solid black;
}

.data-input input {
	margin: 5% 0;
}

.send-button {
	margin-top: 5%;
}
